insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (1, "Kraft", "Christopher", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (2, "Lunney", "Glynn", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (3, "Krantz", "Eugene", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (4, "Bostick", "Jerry", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (5, "Bales", "Steve", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (6, "Charlesworth", "Cliff", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (7, "Aaron", "John", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (8, "Griffin", "Jerry", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (9, "Hodge", "John", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (10, "Puddy", "Don", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (11, "Lewis", "Charles", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (12, "Lunney", "Glynn", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (13, "Deiterich", "Chuck", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (14, "Gilruth", "Robert", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (15, "Windler", "Milt", "Houston", "TX");
insert into {{ databasename }}.persons ( id, LastName, FirstName, City, State) values (16, "Webb", "James", "Houston", "TX");
